.container {
  width: 300px;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  position: relative;
  box-sizing: border-box;
  padding: 20px 0 0 0;
  background-color: #ebebebc7;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}
