body {
  width: 100vw;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ece3ff;
}

#App {
  width: 1300px;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#containers {
  width: 80vw;
  height: inherit;
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.dragging {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555c9;
}
